In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("D:/agriproject/env/ICRISAT-District Level Data - ICRISAT-District Level Data.csv")
df.head()

In [ ]:
print(df.isnull().sum())

In [ ]:
df.info()

In [ ]:
df.shape

In [ ]:
df.columns = df.columns.str.strip().str.lower().str.replace(' ','_')

In [ ]:
df.info()

In [ ]:
print(df.columns.tolist())

In [ ]:
 ndf = df.drop(columns =['dist_code','state_code','kharif_sorghum_area_(1000_ha)','kharif_sorghum_yield_(kg_per_ha)','rabi_sorghum_area_(1000_ha)',
                        'rabi_sorghum_yield_(kg_per_ha)','sorghum_area_(1000_ha)','sorghum_production_(1000_tons)','sorghum_yield_(kg_per_ha)','pearl_millet_area_(1000_ha)','pearl_millet_yield_(kg_per_ha)',
                        'finger_millet_area_(1000_ha)','finger_millet_yield_(kg_per_ha)', 'barley_area_(1000_ha)', 'barley_production_(1000_tons)', 'barley_yield_(kg_per_ha)',
                        'chickpea_area_(1000_ha)', 'chickpea_production_(1000_tons)', 'chickpea_yield_(kg_per_ha)', 'pigeonpea_area_(1000_ha)', 'pigeonpea_production_(1000_tons)', 'pigeonpea_yield_(kg_per_ha)',
                        'minor_pulses_area_(1000_ha)', 'minor_pulses_production_(1000_tons)', 'minor_pulses_yield_(kg_per_ha)','groundnut_area_(1000_ha)','groundnut_yield_(kg_per_ha)', 'sesamum_area_(1000_ha)',
                        'sesamum_production_(1000_tons)', 'sesamum_yield_(kg_per_ha)', 'rapeseed_and_mustard_area_(1000_ha)', 'rapeseed_and_mustard_production_(1000_tons)', 'rapeseed_and_mustard_yield_(kg_per_ha)',
                        'safflower_area_(1000_ha)', 'safflower_production_(1000_tons)', 'safflower_yield_(kg_per_ha)', 'castor_area_(1000_ha)', 'castor_production_(1000_tons)', 'castor_yield_(kg_per_ha)',
                        'linseed_area_(1000_ha)', 'linseed_production_(1000_tons)', 'linseed_yield_(kg_per_ha)','sunflower_area_(1000_ha)','sunflower_yield_(kg_per_ha)', 'soyabean_area_(1000_ha)','oilseeds_yield_(kg_per_ha)',
                        'sugarcane_area_(1000_ha)','sugarcane_yield_(kg_per_ha)', 'cotton_area_(1000_ha)', 'cotton_production_(1000_tons)', 'cotton_yield_(kg_per_ha)', 'fruits_area_(1000_ha)', 'vegetables_area_(1000_ha)',
                        'fruits_and_vegetables_area_(1000_ha)', 'potatoes_area_(1000_ha)', 'onion_area_(1000_ha)', 'fodder_area_(1000_ha)'] )

In [ ]:
for col in ndf.columns:
    print(col)

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
top_rice_states = ndf.groupby('state_name')['rice_production_(1000_tons)'].sum().sort_values(ascending = False).head(7)
plt.figure(figsize = (10,6))
sns.barplot(x=top_rice_states.values, hue=top_rice_states.index,palette="YlGn")
plt.title("Top 7 Rice Producing States of India")
plt.xlabel("Rice Production")
plt.ylabel("States")
plt.tight_layout()
plt.show()

In [ ]:
top_5_wheat_states = ndf.groupby('state_name')['wheat_production_(1000_tons)'].sum().sort_values(ascending=False).head(5)
plt.figure(figsize=(10,6))
sns.barplot(x=top_5_wheat_states.values,hue=top_5_wheat_states.index,palette="Blues_d")
plt.title("Top 5 Wheat Producing States of India")
plt.xlabel("Wheat Production")
plt.ylabel("States")
plt.tight_layout()
plt.show()

plt.figure(figsize =(7,7))
plt.pie(top_5_wheat_states.values, labels=top_5_wheat_states.index, autopct="%1.1f%%",colors=sns.color_palette("pastel"))
plt.title("Percentage Share of Top 5 Wheat Producing States of India")
plt.tight_layout()
plt.show()

In [ ]:
top_5_oil_states = ndf.groupby('state_name')['oilseeds_production_(1000_tons)'].sum().sort_values(ascending=False).head(5)
plt.figure(figsize=(10,6))
sns.barplot(x=top_5_oil_states.values,hue=top_5_oil_states.index,palette="Oranges_r")
plt.title("Top 5 Oil Producing States of India")
plt.xlabel("Oil Production")
plt.ylabel("States")
plt.tight_layout()
plt.show()

In [ ]:
top_7_sunflower_states = ndf.groupby('state_name')['sunflower_production_(1000_tons)'].sum().sort_values(ascending=False).head(7)
plt.figure(figsize=(10,6))
sns.barplot(x=top_7_sunflower_states.values,hue=top_7_sunflower_states.index,palette="YlOrBr")
plt.title("Top 5 Sunflower Producing States of India")
plt.xlabel("Sunflower Production")
plt.ylabel("States")
plt.tight_layout()
plt.show()

In [ ]:
sugarcane_by_year = ndf.groupby('year')['sugarcane_production_(1000_tons)'].sum().reset_index().sort_values('year')

if len(sugarcane_by_year) > 50:
    sugarcane_by_year = sugarcane_by_year.tail(50)

plt.figure(figsize=(12,6))
sns.lineplot(data=sugarcane_by_year,x="year",y="sugarcane_production_(1000_tons)",marker='o',color='green')
plt.title("India's Sugarcane Production Over the Last 50 Years")
plt.xlabel("Year")
plt.ylabel("Sugarcane Production")
plt.grid(True)
plt.tight_layout()
plt.show()

In [ ]:
production_by_year = ndf.groupby('year')[['rice_production_(1000_tons)','wheat_production_(1000_tons)']].sum().reset_index().sort_values('year')

if len(production_by_year) > 50:
    production_by_year = production_by_year.tail(50)

plt.figure(figsize=(12,6))
sns.lineplot(data=production_by_year,x="year",y="rice_production_(1000_tons)",label="Rice",marker='o')
sns.lineplot(data=production_by_year,x="year",y="wheat_production_(1000_tons)",label="Wheat",marker='s')
plt.title("Rice vs Wheat Production in India (Last 50 Years)")
plt.xlabel("Year")
plt.ylabel("Production (1000 tons)")
plt.grid(True)
plt.legend()
plt.tight_layout()
plt.show()

In [ ]:
wb_rice = ndf[ndf['state_name']=='West Bengal']
rice_by_district  = wb_rice.groupby('dist_name')['rice_production_(1000_tons)'].sum().sort_values(ascending=False)
plt.figure(figsize=(10,6))
sns.barplot(x=rice_by_district .values,hue=rice_by_district .index)
plt.title("Rice Production by Districts in West Bengal")
plt.xlabel("Rice Production (1000 tons)")
plt.ylabel("District")
plt.tight_layout()
plt.show()

In [ ]:
up_wheat = ndf[ndf['state_name']=='Uttar Pradesh']
wheat_by_district  = up_wheat.groupby('year')['wheat_production_(1000_tons)'].sum().sort_values(ascending=False).head(10)
wheat_by_district = wheat_by_district.sort_index()
plt.figure(figsize=(10,6))
sns.barplot(x=wheat_by_district.index.astype(str),y=wheat_by_district.values,color="Purple")
plt.title("Top 10 Wheat Production Years in Uttar Pradesh")
plt.xlabel("Year")
plt.ylabel("Wheat Production (1000 tons)")
plt.tight_layout()
plt.show()

In [ ]:
ndf['millets_production_(1000_tons)'] = (ndf['pearl_millet_production_(1000_tons)'] +ndf['finger_millet_production_(1000_tons)'])
millets_by_year = ndf.groupby('year')['millets_production_(1000_tons)'].sum().reset_index().sort_values('year')

if len(millets_by_year) > 50:
    millets_by_year = millets_by_year.tail(50)

plt.figure(figsize=(12,6))
sns.lineplot(data=millets_by_year,x="year",y="millets_production_(1000_tons)",marker='o',color='brown')
plt.title("Millet Production in India (Last 50 Years)")
plt.xlabel("Year")
plt.ylabel("Millet Production (1000 tons)")
plt.grid(True)
plt.tight_layout()
plt.show()

In [ ]:
sorghum_by_state = ndf.groupby('state_name')[['kharif_sorghum_production_(1000_tons)','rabi_sorghum_production_(1000_tons)']].sum ().sort_values(by='kharif_sorghum_production_(1000_tons)',ascending=False)
sorghum_by_state.plot(kind='bar', figsize=(12, 6), colormap='Paired')
plt.title("Sorghum Production (Kharif and Rabi) by State")
plt.xlabel("State")
plt.ylabel("Sorghum Production (1000 tons)")
plt.tight_layout()
plt.legend(title='Season')
plt.show()

In [ ]:
top_7_groundnut_states = ndf.groupby('state_name')['groundnut_production_(1000_tons)'].sum().sort_values(ascending=False).head(7)
plt.figure(figsize=(10,6))
sns.barplot(x=top_7_groundnut_states.values,hue=top_7_groundnut_states.index,palette="YlOrRd")
plt.title("Top 7 Groundnut Producing States in India")
plt.xlabel("Groundnut Production (1000 tons)")
plt.ylabel("States")
plt.tight_layout()
plt.show()

In [ ]:
soyabean_by_state = ndf.groupby('state_name').agg({'soyabean_production_(1000_tons)': 'sum','soyabean_yield_(kg_per_ha)': 'mean'})
top_5_soyabean_states = soyabean_by_state.sort_values('soyabean_production_(1000_tons)',ascending=False).head(5)
plt.figure(figsize=(10, 5))
sns.barplot(x=top_5_soyabean_states['soyabean_production_(1000_tons)'], hue=top_5_soyabean_states.index, palette='Greens')
plt.title("Top 5 Soyabean Producing States")
plt.xlabel("Soyabean Production (1000 tons)")
plt.ylabel("State")
plt.tight_layout()
plt.show()

plt.figure(figsize=(10, 5))
sns.barplot(x=top_5_soyabean_states['soyabean_yield_(kg_per_ha)'], hue=top_5_soyabean_states.index, palette='Blues')
plt.title("Soyabean Yield Efficiency in Top 5 Producing States")
plt.xlabel("Yield (Kg per ha)")
plt.ylabel("State")
plt.tight_layout()
plt.show()

In [ ]:
oilseed_by_state  = ndf.groupby('state_name')['oilseeds_production_(1000_tons)'].sum().sort_values(ascending=False).head(10)
plt.figure(figsize=(10,6))
sns.barplot(x=oilseed_by_state .values,hue=oilseed_by_state .index)
plt.title("Oilseed Production in Major States of India")
plt.xlabel("Oilseed Production (1000 tons)")
plt.ylabel("State")
plt.tight_layout()
plt.show()

In [ ]:
data = pd.DataFrame({
    'crop': ['rice'] * len(df) + ['wheat'] * len(df) + ['maize'] * len(df),
    'area_(1000_ha)': pd.concat([df['rice_area_(1000_ha)'], df['wheat_area_(1000_ha)'], df['maize_area_(1000_ha)']]),
    'production_(1000_tons)': pd.concat([df['rice_production_(1000_tons)'], df['wheat_production_(1000_tons)'], df['maize_production_(1000_tons)']])})

plt.figure(figsize=(10, 6))
sns.scatterplot(data=data, x='area_(1000_ha)', y='production_(1000_tons)', hue='crop', alpha=0.6)
plt.title("Impact of Area Cultivated on Production (Rice, Wheat, Maize)")
plt.xlabel("Area Cultivated (1000 ha)")
plt.ylabel("Production (1000 tons)")
plt.grid(True)
plt.tight_layout()
plt.show()

In [ ]:
yield_df = df.groupby('state_name')[['rice_yield_(kg_per_ha)','wheat_yield_(kg_per_ha)']].mean().head(10)

yield_df.plot(kind='bar', figsize=(10, 6))
plt.title("Rice vs Wheat Yield Across States")
plt.ylabel("Yield (Kg per ha)")
plt.xlabel("State")
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()

In [ ]:
import mysql.connector

conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
      port='3307'  # leave blank if using XAMPP default
)

cursor = conn.cursor(buffered = True)

In [ ]:
cursor.execute("CREATE DATABASE agriculture")
print("Database created successfully!")

In [ ]:
cursor.execute("USE agriculture")

In [ ]:
cursor.execute("""CREATE TABLE agridata(
               year INT(6),state_name VARCHAR(255),dist_name VARCHAR(255),rice_area DECIMAL(5,3),rice_production DECIMAL(5,3),rice_yield DECIMAL(5,3),wheat_area DECIMAL(5,3),
               wheat_production DECIMAL(5,3),wheat_yield DECIMAL(5,3),maize_area DECIMAL(5,3),maize_production DECIMAL(5,3),maize_yield DECIMAL(5,3),groundnut_production DECIMAL(5,3),oilseeds_area DECIMAL(5,3),
               oilseeds_production DECIMAL(5,3),cotton_production DECIMAL(5,3))""")

In [ ]:
 sdf = df.drop(columns =['dist_code','state_code','kharif_sorghum_area_(1000_ha)','kharif_sorghum_yield_(kg_per_ha)','rabi_sorghum_area_(1000_ha)',
                        'rabi_sorghum_yield_(kg_per_ha)','sorghum_area_(1000_ha)','sorghum_production_(1000_tons)','sorghum_yield_(kg_per_ha)','pearl_millet_area_(1000_ha)','pearl_millet_yield_(kg_per_ha)',
                        'finger_millet_area_(1000_ha)','finger_millet_yield_(kg_per_ha)', 'barley_area_(1000_ha)', 'barley_production_(1000_tons)', 'barley_yield_(kg_per_ha)',
                        'chickpea_area_(1000_ha)', 'chickpea_production_(1000_tons)', 'chickpea_yield_(kg_per_ha)', 'pigeonpea_area_(1000_ha)', 'pigeonpea_production_(1000_tons)', 'pigeonpea_yield_(kg_per_ha)',
                        'minor_pulses_area_(1000_ha)', 'minor_pulses_production_(1000_tons)', 'minor_pulses_yield_(kg_per_ha)','groundnut_area_(1000_ha)','groundnut_yield_(kg_per_ha)', 'sesamum_area_(1000_ha)',
                        'sesamum_production_(1000_tons)', 'sesamum_yield_(kg_per_ha)', 'rapeseed_and_mustard_area_(1000_ha)', 'rapeseed_and_mustard_production_(1000_tons)', 'rapeseed_and_mustard_yield_(kg_per_ha)',
                        'safflower_area_(1000_ha)', 'safflower_production_(1000_tons)', 'safflower_yield_(kg_per_ha)', 'castor_area_(1000_ha)', 'castor_production_(1000_tons)', 'castor_yield_(kg_per_ha)',
                        'linseed_area_(1000_ha)', 'linseed_production_(1000_tons)', 'linseed_yield_(kg_per_ha)','sunflower_area_(1000_ha)','sunflower_yield_(kg_per_ha)', 'soyabean_area_(1000_ha)','oilseeds_yield_(kg_per_ha)',
                        'sugarcane_area_(1000_ha)','sugarcane_yield_(kg_per_ha)', 'cotton_area_(1000_ha)', 'cotton_yield_(kg_per_ha)', 'fruits_area_(1000_ha)', 'vegetables_area_(1000_ha)',
                        'fruits_and_vegetables_area_(1000_ha)', 'potatoes_area_(1000_ha)', 'onion_area_(1000_ha)', 'fodder_area_(1000_ha)','kharif_sorghum_production_(1000_tons)','rabi_sorghum_production_(1000_tons)',
                        'pearl_millet_production_(1000_tons)','finger_millet_production_(1000_tons)','sunflower_production_(1000_tons)','soyabean_production_(1000_tons)',
                        'soyabean_yield_(kg_per_ha)','sugarcane_production_(1000_tons)'] )

In [ ]:
for index,row in sdf.iterrows():
    cursor.execute("""INSERT INTO agridata
                     (year,state_name,dist_name,rice_area,rice_production,rice_yield,wheat_area,wheat_production,
                     wheat_yield,maize_area,maize_production,maize_yield,groundnut_production,oilseeds_area,oilseeds_production,cotton_production)
                     VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)""",tuple(row))
conn.commit()

In [ ]:
for col in sdf.columns:
    print(col)

In [ ]:
from tabulate import tabulate

In [ ]:
q1 ="""
SELECT 
    a.year, 
    a.state_name, 
    SUM(a.rice_production) AS production
FROM agridata AS a
JOIN (
    SELECT state_name
    FROM agridata
    GROUP BY state_name
    ORDER BY SUM(rice_production) DESC
    LIMIT 3
) AS top_states
ON a.state_name = top_states.state_name
GROUP BY a.year, a.state_name
ORDER BY a.year, a.state_name;
"""
cursor.execute(q1)
out=cursor.fetchall()
print(tabulate(out,headers=[i[0] for i in cursor.description],  tablefmt='grid'))

In [ ]:
q2 = """
SELECT 
    dist_name,
    MAX(CASE WHEN year = 2017 THEN wheat_yield END) -
    MAX(CASE WHEN year = 2012 THEN wheat_yield END) AS yield_increase
FROM agridata
WHERE year IN (2012, 2017)
GROUP BY dist_name
HAVING 
    MAX(CASE WHEN year = 2017 THEN wheat_yield END) IS NOT NULL AND
    MAX(CASE WHEN year = 2012 THEN wheat_yield END) IS NOT NULL
ORDER BY yield_increase DESC
LIMIT 5"""

cursor.execute(q2)
out = cursor.fetchall()
print(tabulate(out, headers=[i[0] for i in cursor.description], tablefmt='grid'))

In [ ]:
q3 = """
SELECT 
    state_name,
    ROUND(
        (MAX(CASE WHEN year = 2017 THEN oilseeds_production END) - 
         MAX(CASE WHEN year = 2012 THEN oilseeds_production END)) * 100.0 /
         MAX(CASE WHEN year = 2012 THEN oilseeds_production END),
        2
    ) AS growth_rate
FROM agridata
WHERE year IN (2012, 2017)
GROUP BY state_name
HAVING 
    MAX(CASE WHEN year = 2012 THEN oilseeds_production END) IS NOT NULL AND
    MAX(CASE WHEN year = 2017 THEN oilseeds_production END) IS NOT NULL
ORDER BY growth_rate DESC
LIMIT 5"""

cursor.execute(q3)
out = cursor.fetchall()
print(tabulate(out, headers=[i[0] for i in cursor.description], tablefmt='grid'))

In [ ]:
q4 ="""SELECT Dist_name, `Crop`, `Year`, `Area`, `Production`
FROM (
  SELECT dist_name, 'Rice' AS Crop, `year`, rice_area AS Area, rice_production AS Production FROM agridata
  UNION ALL
  SELECT dist_name, 'Wheat', `year`, wheat_area, wheat_production FROM agridata
  UNION ALL
  SELECT dist_name, 'Maize', `year`, maize_area, maize_production FROM agridata
) AS agridata
WHERE Area IS NOT NULL AND Production IS NOT NULL"""

cursor.execute(q4)
out = cursor.fetchall()
print(tabulate(out, headers=[i[0] for i in cursor.description], tablefmt='grid'))

In [ ]:
q5 = """SELECT `year`, state_name, SUM(cotton_production) AS production
FROM agridata
WHERE state_name IN (
  SELECT state_name FROM(q
  SELECT state_name
  FROM agridata
  GROUP BY state_name
  ORDER BY SUM(cotton_production) DESC
  LIMIT 5) AS top_states
)
GROUP BY year,state_name ORDER BY `year`
"""
cursor.execute(q5)
out = cursor.fetchall()
print(tabulate(out, headers=[i[0] for i in cursor.description], tablefmt='grid'))

In [ ]:
q6 = """
SELECT 
    dist_name,
    state_name,
    SUM(groundnut_production) AS total_production
FROM agridata
WHERE year = 2020
GROUP BY dist_name, state_name
ORDER BY total_production DESC
LIMIT 10;
"""

# Execute the query
cursor.execute(q6)
out = cursor.fetchall()

# Print results in a formatted table
from tabulate import tabulate
headers = [i[0] for i in cursor.description]
print(tabulate(out, headers=headers, tablefmt='grid'))

In [ ]:
q7 = "SELECT state_name, AVG(maize_yield) AS avg_yield FROM agridata GROUP BY state_name ORDER BY avg_yield DESC"
cursor.execute(q7)
out = cursor.fetchall()
print(tabulate(out, headers=[i[0] for i in cursor.description], tablefmt='grid'))

In [ ]:
q8 = "SELECT state_name,SUM(oilseeds_area) AS total_area FROM agridata GROUP BY state_name ORDER BY total_area DESC"
cursor.execute(q8)
out = cursor.fetchall()
print(tabulate(out, headers=[i[0] for i in cursor.description], tablefmt='grid'))

In [ ]:
q9 = "SELECT dist_name,state_name,SUM(rice_yield) FROM agridata GROUP BY dist_name,state_name ORDER BY rice_yield DESC LIMIT 5"
cursor.execute(q9)
out = cursor.fetchall()
print(tabulate(out, headers=[i[0] for i in cursor.description], tablefmt='grid'))

In [ ]:
q10 = """
WITH top_5_states AS (
    SELECT 
        state_name,
        SUM(rice_production + wheat_production) AS total_production
    FROM agridata
    WHERE year >= 2011
    GROUP BY state_name
    ORDER BY total_production DESC
    LIMIT 5
)
SELECT 
    a.year,
    a.state_name,
    SUM(a.rice_production) AS rice_production,
    SUM(a.wheat_production) AS wheat_production
FROM agridata a
JOIN top_5_states t ON a.state_name = t.state_name
WHERE a.year >= 2011
GROUP BY a.year, a.state_name
ORDER BY a.state_name, a.year;
"""

# Execute and fetch results
cursor.execute(q10)
out = cursor.fetchall()

# Print the output in a readable table
from tabulate import tabulate
headers = [i[0] for i in cursor.description]
print(tabulate(out, headers=headers, tablefmt='grid'))